<!-- 侧边栏 -->
<div class="aside">
    <!-- 个人资料 -->
    <div class="profile" id="userinfo">
        <!-- 头像 -->
        <!--挖坑-->

    </div>
    <!-- 导航菜单 -->
    <div class="navs">
        <ul class="list-unstyled">
            <li>
                <a href="/" >
                    <i class="fa fa-dashboard"></i>
                    仪表盘
                </a>
            </li> 
            <li>
                <a href="/teacher/list">
                    <i class="fa fa-mortar-board"></i>
                    讲师管理
                </a>
            </li>
            <li>
                <a href="/coursecategory/list">
                    <i class="fa fa-indent"></i>
                    分类管理
                </a>
            </li>            
            <li>
                <a href="javascript:;">
                    <i class="fa fa-th"></i>
                    课程管理
                    <i class="arrow fa fa-angle-right"></i>
                </a>
                <ul class="list-unstyled">
                    <li>
                        <a href="/course/add">
                                课程添加
                        </a>
                    </li>
                    <li>
                        <a href="/course/list">
                            课程列表
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<!--模板渲染-->
<script type="text/html" id="profile-tpl">    
    <div class="avatar img-circle">
        <img src="{{tc_avatar}}">
    </div>
    <h4>{{tc_name}}</h4>
</script>